<!-- =bill container======================================= -->
<div class="bill__container">
  <!-- for the bill amount -->
  <section class="bill__amount-section">
    <p class="section__heading">Bill</p>
    <form action="" method="post">
      <div class="bill__form">
        <button class="icon">
          <i class="fa-solid fa-dollar-sign"></i>
        </button>
        <input
          type="tel"
          class="bill__input bill__amount"
          name="bill__amount"
          placeholder="0"
          required
        />
      </div>
    </form>
  </section>

  <!-- for the tip selection -->
  <section class="tip__selection-section">
    <p class="section__heading">Select Tip %</p>
    <section class="grid__1x2 grid__1x3desktop tip__selection">
      <button class="btn btn__percentage">5%</button>
      <button class="btn btn__percentage">10%</button>
      <button class="btn btn__percentage">15%</button>
      <button class="btn btn__percentage">25%</button>
      <button class="btn btn__percentage">50%</button>
      <p>Custom</p>
    </section>
  </section>

  <!-- for the number of people -->
  <section class="people__amount-section">
    <p class="section__heading">Number of People</p>
    <form action="" method="post">
      <div class="bill__form">
        <button class="icon"><i class="fa-solid fa-user"></i></button>
        <input
          type="tel"
          class="bill__input bill__amount"
          name="bill__amount"
          placeholder="0"
          required
        />
      </div>
    </form>
  </section>
</div>
