<section class="tip__container">
  <!-- tip per person -->
  <section class="grid__1x2 tip__per-person">
    <p class="tip__heading">Tip Amount <span> / person</span></p>
    <h1 class="tip__amount">&dollar;0.00</h1>
  </section>

  <!-- total per person -->
  <section class="grid__1x2 total__per-person">
    <p class="tip__heading">Total <span> / person</span></p>
    <h1 class="tip__amount">&dollar;0.00</h1>
  </section>

  <!-- reset button -->
  <button class="btn btn__reset">Reset</button>

  <button class="btn btn__noreset">Reset</button>
</section>
